.nav {
    grid-area: n;
    background-color: #edeef0;
    padding: 20px;
}

/* .item {
    color: white;
} */

.itemSattings{
    margin-top: 20px;
}

.item a {
    text-decoration: none;
    color: #285473;
}

.item a.activ {
    color: blue;
}