.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.dialog .active {
    color: red;
}

.messages {
    padding: 10;
    text-align: left;
}

.message {
    color: black;
}

.active {
    color: white;
}

.verticalLine {
    border-left: 2px solid blue;
    height: 100%;
    padding-left: 20px;
}

.textAreaSetting {
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.buttonSetting {
    margin: auto;
    display: block;
}