.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogsItems {
}

.dialogsItems img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.dialog {
    padding: 10px;
}

.dialog .activeLink {
    color: blue;
    text-decoration: none;
}

.messages {
padding: 10px;
text-align: left;
}

